<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test2">
    <classes>
      <class name="OrangeHRM.OHRM.login"/>
      <class name="OrangeHRM.OHRM.immigration"/>
      <class name="OrangeHRM.OHRM.mandatoryfields"/>
      <class name="OrangeHRM.OHRM.fileuploading"/>
      <class name="OrangeHRM.OHRM.editrecords"/>
      
    
    </classes>
  </test> <!-- Test2 -->
</suite> <!-- Suite -->
